
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 900; */
    background-color: rgb(242, 247, 251);
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --element-color: #C186F8;
    --body-color: #F9F9F9;
    --write-color: #1a1a1a;
    --border-color: #D731E8;
}

.p-about
{
    text-align: center;
    color: #000;
    opacity: 0.4;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 96px;
}
/* ------------------------------- */
.home
{
    padding-left: 20px;
}
h1
{
    margin-top: 96px;
    margin-bottom: 16px;
    color: var(--write-color);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.home-sample
{
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.home-sample p
{
    padding-top: 3px;
    font-size: 18px;
}
.home-header
{
    font-size: 30px;
    font-weight: 700;
    color: var(--write-color);
    margin-bottom: 32px;
}
.home-operation-head
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
}
.home-operation-head h3
{
    color: var(--border-color);
    font-size: 20px;
}
.home-operation-head p
{
    padding-top: 2px;
    font-size: 18px;
}
.home-operation-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.home-operation-image
{
    padding-top: 32px;
}
.home-operation-image img
{
    transition: all 0.5s;
}
.home-operation-image img:hover
{
    transform: scale(1.1);
    transition: ease-in;
}
.home-operation-ex .ex
{
    margin-top: 40px;
    font-size: 22px;
    color: #D731E8;
}
.home-operation-ex .Sample-Space
{
    font-size: 18px;
    margin-top: 20px;
}
.home-operation-ex .A , .B , .The-solve
{
    margin-top: 10px;
    font-size: 18px;
}
.home-operation-ex .The-solve
{
    color: var(--border-color);
    font-size: 20px;
}


.home-operation-complement .home-operation-image
{
    display: flex;
    justify-content:center;
    margin-right: 5%;
}
.home-operation-content-complement
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-left: 10%; */
    flex-wrap: wrap;
}
.home-operation-content-complement .home-operation-ex h4
{
    color: var(--border-color);
    font-size: 20px;
    margin:15px 0px;
}
.home-operation-content-complement .home-operation-ex h5
{
    font-size: 19px;
}
.home-operation-content-complement .home-operation-ex .head-without
{
    margin-top: 40px;
}
.footer-items
{
    margin-top: 96px;
}

/* ------------------------------------------------------*/


@media screen and (min-width:350px) and (max-width:976px) {
    .head-about
    {
        font-size: 25px;
    }
    .home-operation-ex-B {
        margin-top: 40px;
        /* padding-left: 10px; */
    }
    .home-operation-ex
    {
        text-align: center;
    }
    .p-about
    {
        font-size:20px ;
    }
    .about {
        padding: 10px 4px;
    }
    .about a {
        padding: 6px 10px;
        font-size: 13px;
    }
        .home-operation-image img
        {
            width: 80%;
            padding-left: 15%;
        }
        .home-operation-image-complement img 
        {
            width: 60%;
            padding-left: 7%;
        }
       
}
@media screen and (min-width:509px) and (max-width:976px) {
    .head-about
    {
        font-size: 30px;
    }
    .p-about {
        font-size: 22px;
    }
    .home-operation-image-complement img {
            width: 40%;
            padding-left: 7%;
        }
}
